<div class="row">
    <div class="col-sm-12">
        <span *ngIf="groupStatistics">
            <app-table-group [userRubbishSummaries]="groupStatistics?.userRubbishSummaries"></app-table-group>
        </span>
    </div>
</div>
<div class="row">
  
  <div class="col-sm-12">
    <app-histo-group [histoGroup]="groupStatistics?.histoGroups"></app-histo-group>
</div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-success m-2 float-right" (click)="openGroupManager()">Gérer le groupe</button>
        </form>
    </div>
</div>