<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta charset="UTF-8" />

</head>
<body style="color: #555555;">
	<div
		style="max-width: 500px; margin: auto; border: 1px solid #444444; border-radius: 5px; background: #F8F8F8; padding: 10px;">

		<p>Bonjour,</p>

		<p>Vous recevez cet email car vous êtes inscrit en temps que membre du site 
		<span style="font-size: 14pt; color: #000000; text-align:center;">www.missionzerodechet.fr</span></p>

		<p>Vous avez reçu une invitation à rejoindre un groupe de la part de {username} ({userEmail}).</p>
		
		<pre>
		{message}
		</pre>
		<p>Pour adhérer au groupe, connectez-vous au site 
		<span style="font-size: 14pt; color: #000000; text-align:center;">www.missionzerodechez.fr</span>

		</p>
		<p>A bientôt !</p>
		
		<p>L'équipe missionzerodechet.fr</p>
	</div>
</body>
</html>