<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta charset="UTF-8" />

</head>
<body style="color: #555555;">
	<div
		style="max-width: 500px; margin: auto; border: 1px solid #444444; border-radius: 5px; background: #F8F8F8; padding: 10px;">

		<p>Bonjour et bienvenue parmi les agents du zéro déchet !</p>

		<p>Plus que quelques cliques pour accéder à votre interface et
			relever le défi du zéro déchet !</p>

		<p style="font-size: 14pt; color: #000000; text-align:center;">
			Cliquez sur <a
				th:href="${registerUrl}">ce
				lien</a> pour finaliser votre inscription
		</p>
		<span th:text="${registerUrl}"></span>
		<p>Attention, pour des raisons de sécurité, vous ne disposez que
			de 30 minutes pour cliquer sur ce lien. Sans quoi, vous devrez
			recommencer votre inscription
		</p>
		<p>A tout de suite</p>

		<p>L'équipe missionzerodechet.fr</p>
	</div>
</body>
</html>