<header>
    <nav class="navbar  navbar-light navbar-color">
        <a class="navbar-brand brand">
            <img src="images/logo.png" width="100%" />
        </a>
        <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-success m-2 float-right" type="submit">Mon Compte</button>
                <button class="btn btn-success m-2 float-right" type="submit">Se déconnecter</button>
            </form>
        </div>
    </nav>
</header>