<div class="text-content">
  <div class="title">
  Ajouter un nouveau déchet

</div>
<hr />
  <form #form="ngForm" novalidate>
    <div class="row">

      <div class="col-lg-3">
        <label for="date">Date</label>
        <input class="form-control" id="date" #date="ngModel" [(ngModel)]="rubbish.date" name="date" type="date" required>
      </div>
      <div class="col-lg-3 mb-3">
        <label for="weight">Poids (en gramme)</label>
        <input class="form-control" id="weight" #weight="ngModel" [(ngModel)]="rubbish.weight" name="weight" type="number" required>
      </div>
      <div class="col-lg-3 mb-3">
        <label for="number">Nombre d'occupant</label>
        <input class="form-control" id="number" #number="ngModel" [(ngModel)]="rubbish.number" name="number" type="number" required max="99">
      </div>
      <div class="col-lg-3 mb-3">
        <label for="type">Type de déchet</label>
        <select class="form-control" id="type" #type="ngModel" [(ngModel)]="rubbish.type" name="type">
          <option *ngFor="let type of types" [value]="type.id">{{type.label}}</option>
        </select>

        <div class="invalid-feedback">
          Veuillez saisir un type de déchet
        </div>
      </div>

    </div>

    <button class="btn btn-success btn-block" (click)="addRubbish()" [disabled]="!form.valid">Ajouter</button>
  </form>
</div>